body{
  background: var(--bg-url);
  display:  flex;
  
}

:root{
 --text-color: white;
  --bg-url: black;
  --stroke-color: white;
  --surface-color: white;
  --bg-link: red;
  --surface-color-hover: white;
  --back-button: white;
  --bg-switch: black;
}

.ligth{
  --text-color: black;
 --bg-url: white;
  --stroke-color: black;
  --surface-color: black;
  --bg-link: yellow;
  --surface-color-hover: black;
  --back-button: black;
  --bg-switch: black;
  
}

#conteiner{
  margin-left:  auto;
  margin-right:  auto;
  
}

#img1{
  width:  90px;
  height:  90px;
  border-radius:  50px;
  display:  flex;
margin:  40px 140px 0px 190px;
  justify-content:  center;
  align-items:  center;
  text-align:  center;
}

p{
  color:  var(--text-color);
text-align:  center;
  margin-top:  0px;
  margin-bottom:  30px;
}

#botao{

  position:  relative;
  width: 60px;
  margin:  4px auto;
}

#botao button{
  height:  28px;
  width: 28px;
  border: 0px;
  border-radius: 50%;
  background: var(--back-button);
  
  position:  absolute;
  top: 50%;
 left: 0;
  z-index:  1;
  transform:  translateY(-50%);
  animation: animaback 0.4s;
}

.ligth #botao button{
  
  animation: animaligth 0.4s forwards;
}


#botao span{
  display:  block;
  height:  24px;
  width: 64px;
  background:  --bg-switch: black;
  border: solid 1px var(--stroke-color);
  border-radius:  9999px;
}

#insta{
  text-align:  center;
  border: solid var(--surface-color);
  border-radius:  20px;
  padding:  20px 140px 20px 140px;
margin:  50px 50px 50px 50px;
  background-color:  var(--bg-link);
}

#tube a:hover{
  background: var(--surface-color-hover);
}
#tube{ text-align:  center;
  border: solid var(--surface-color);
  border-radius:  20px;
  padding:  20px 140px 20px 140px;
margin:  50px 50px 50px 50px;
  background-color:  var(--bg-link);
  transition:  0.2;
}
#lista a{ margin-top:  0px;
  color:  var(--text-color);
  text-decoration:  none;
  font-weight:  bold;
}
#lista{
border: solid var(--surface-color);
  margin-bottom:  0px;
  border-radius:  20px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top:  10px;
}
footer{
  color: var(--text-color);
  font-size:  10px;
    justify-content:  center;
  align-items:  center;
  text-align:  center;
}
#img2{
  width:  30px;
  height:  30px;
  
  
}
#social a:hover{
  background:  var(--surface-color-hover);
}
 
#social{
 display:  flex;
  gap:  26px;
  align-items:  center;
  justify-content:  center;
  padding:  16px 0px;
  font-size:  34px;
  transition:  0.2;
  
}

@keyframes animaligth {
  from{
    left: 0;
  }
  to{
    left: 62%;
  }
}

@keyframes animaback{
  from{
    left:62%;
  }
  to{
    left: 0;
  }
}
